.progress-bar {
  width: 50%;
  height: 30px;
  background-color: #EDF2F4;
  border-radius: 5px;
  color: #FFF;
}
.progress-bar-inner {
  height: 100%;
  line-height: 30px;
  background: #2B2D42;
  text-align: center;
  border-radius: 5px;
  transition: width 0.25s;
}
